<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row ">
        <div class="col l6 s12">
          <h5 class="white-text">Football Stat, un petit projet pour la prise en main des concepts de base d'Angular
        </h5>
          <h6>Sources:</h6>
          <p class="grey-text text-lighten-4"><a href="https://www.youtube.com/channel/UCZTU2rhpY76FJoqtHIHd5iw">FootBall API</a></p>
          <p class="grey-text text-lighten-4"><a href="https://www.youtube.com/channel/UCZTU2rhpY76FJoqtHIHd5iw">Le baron</a></p>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Abdellah Choukri
      <a class="grey-text text-lighten-4 right" href="https://github.com/ChoukriAbdellah">Github </a>
      </div>
    </div>
  </footer>
