<div class="row">
    <div class="col s12">
      <div class="card medium">
        <div class="card-image">
          <img src="https://pbs.twimg.com/profile_images/518483741916688386/Zh09eVAV_400x400.jpeg" />
          <span class="card-title">{{team.squad_name}}</span>
        </div>
        <div class="card-fab">
          
        </div>
        <div class="card-content center">
          <p>Classement : {{team.squad_position}} </p>
  <a class="waves-effect waves-light btn">{{team.squad_winned}}</a>
  <a class="waves-effect   blue-grey darken-2 btn">{{team.squad_loosed}}</a>
  <a class="waves-effect red darken-4 btn btn">{{team.squad_tie}}</a>
    
          
          
          <p>
            <a
              class="waves-effect waves-light btn blue"
              >Statistique</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>